body {
  background-color: #383737;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.header {
  transition: 0.6s;
}

.header: hover {
  color: #00FFFF;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 50px 200px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.button:hover {
  opacity: 1;
}

#button_holder {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  color: white;
  text-align: center;
  transition: 0.6s;
}

#footer: hover {
  color: #00FFFF;
}
