body {
    background-color: #383737;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.button:hover {
    opacity: 1
}

.title {

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    transition: 0.6s;
}

.title:hover {
    color: aqua;
    opacity: 1;
}

p {
    color: white;
    text-align: center;
    margin: inherit;
    transition: 0.5s;
}

p:hover {
    color: aqua;
}

#button_holder {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.devlog {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    background: gray;
}

#random {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

:root {
    -bg: yellow;
}

label {
    color: white;
    font-size: 1.5rem;
}

input {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.confetti-container {
    user-select: none;
    pointer-events: none;
    z-index: 10;
}

.confetti {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
}

.confetti .square {
    width: 1rem;
    height: 1rem;
    background-color: var(--bg);
    transform: rotate(140deg);
}

.confetti .rectangle {
    width: 1rem;
    height: 0.5rem;
    background-color: var(--bg);
}

.confetti .hexagram {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid var(--bg);
    position: relative;
}

.confetti .hexagram:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid var(--bg);
    position: absolute;
    top: 0.33rem;
    left: -0.5rem;
}

.confetti .pentagram {
    width: 0rem;
    height: 0rem;
    display: block;
    margin: 0.5rem 0;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(35deg);
    position: relative;
}

.confetti .pentagram:before {
    border-bottom: 0.8rem solid var(--bg);
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45rem;
    left: -0.65rem;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.confetti .pentagram:after {
    position: absolute;
    display: block;
    color: var(-bg);
    top: 0.03rem;
    left: -1.05rem;
    width: 0rem;
    height: 0rem;
    border-right: 1rem solid transparent;
    border-bottom: 0.7rem solid var(--bg);
    border-left: 1rem solid transparent;
    transform: rotate(-70deg);
    content: "";
}

.confetti i {
    width: 3rem;
    height: 3rem;
    margin: 0 0.2rem;
    animation-name: confetti;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: calc(60s / var(--speed));
}

.confetti i:nth-child(even) {
    transform: rotate(90deg);
}

@keyframes confetti {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(100vh);
    }
}

.confetti .wavy-line {
    position: relative;
}

.confetti .wavy-line::after,
.confetti .wavy-line::before {
    content: "";
    height: 10px;
    width: 80px;
    background-size: 20px 10px;
    position: absolute;
    left: -9rem;
    transform: rotate(90deg);
}

.confetti .wavy-line::before {
    background-image: linear-gradient(45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%);
    top: 1rem;
}

.confetti .wavy-line::after {
    background-image: linear-gradient(-45deg,
            transparent,
            transparent 50%,
            var(--bg) 50%,
            transparent 60%);
}
